[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-allauth = "*"
django-countries = "*"
django-crispy-forms = "*"
django-paypal = "*"

[requires]
python_version = "3.8"
